<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cirurgia - HSM Portal Medico</title>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'>
    <link rel='stylesheet prefetch' href='https://unpkg.com/vuetify@1.0.19/dist/vuetify.min.css'>
</head>

<body>
    <div id="app" style="padding: 0px 20px 0px 20px">
        <v-app id="inspire">
            <v-container fluid grid-list-md>
                <v-layout row wrap>
                    <v-flex d-flex xs12 sm6 md3>
                        <v-text-field v-model="guia" label="Nr.Guia" required></v-text-field>
                    </v-flex>
                    <v-flex d-flex xs12 sm6 md3>
                        <v-text-field v-model="autorizacao" label="Nr.Autorização" required></v-text-field>
                    </v-flex>
                    <v-flex d-flex xs12 sm6 md3>
                        <v-menu ref="menu_data_autoriza" v-model="menu_data_autoriza" :nudge-right="40" :close-on-content-click="false" lazy transition="scale-transition"
                            offset-y full-width min-width="290px">
                            <v-text-field slot="activator" v-model="data_autoriza_Formatted" label="Data Autorização" prepend-icon="event"></v-text-field>
                            <v-date-picker locale="pt-br" v-model="data_autoriza" @input="menu_data_autoriza = false"></v-date-picker>
                        </v-menu>
                    </v-flex>
                    <v-flex d-flex xs12 sm6 md3>
                        <v-menu ref="menu_valid_autoriza" v-model="menu_valid_autoriza" :nudge-right="40" :close-on-content-click="false" lazy transition="scale-transition"
                            offset-y full-width min-width="290px">
                            <v-text-field slot="activator" v-model="valid_autoriza_Formatted" label="Validade Autorização" prepend-icon="event"></v-text-field>
                            <v-date-picker locale="pt-br" v-model="valid_autoriza" @input="menu_valid_autoriza = false"></v-date-picker>
                        </v-menu>
                    </v-flex>
                </v-layout>
                <v-layout row wrap>
                    <v-flex d-flex xs12 sm3 md2>
                        <v-text-field v-model="tempo" label="Tempo Estimado" type="number" required></v-text-field>
                    </v-flex>
                    <v-flex d-flex xs12 sm9 md10>
                        <v-radio-group label="Tipo de Anestesia" v-model="anestesia" row>
                            <v-radio label="Local sem anestesista" value="1"></v-radio>
                            <v-radio label="Local com anestesista" value="2"></v-radio>
                            <v-radio label="Geral" value="3"></v-radio>
                        </v-radio-group>
                    </v-flex>
                </v-layout>
                <v-layout row wrap>
                    <v-flex d-flex xs12 sm12 md12>
                        <v-select :loading="loading" :items="items" :search-input.sync="search" v-model="procedimento" label="Procedimento Cirurgico"
                            autocomplete return-object></v-select>
                        <v-btn flat icon color="primary" @click="addItem()">
                            <v-icon>check_circle</v-icon>
                        </v-btn>
                    </v-flex>
                </v-layout>
                <v-data-table :headers="headers" :items="procedimentos" hide-actions>
                    <template slot="items" slot-scope="props">
                        <td>{{ props.item.procedimento }}</td>
                        <td>{{ props.item.descricao }}</td>
                        <td>{{ props.item.tempo }}</td>
                        <td>
                            <v-btn icon class="mx-0" @click="delItem(props.item)">
                                <v-icon color="pink">delete</v-icon>
                            </v-btn>
                        </td>
                    </template>
                </v-data-table>
                <v-layout row wrap>
                    <v-flex d-flex>
                        <v-card color="indigo" dark>
                            <v-btn color="success" @click="getAgendas()">Buscar agendas disponiveis</v-btn>
                        </v-card>
                    </v-flex>                  
                </v-layout>   
                <v-data-table :headers="headers_agenda" :items="agendas" hide-actions>
                    <template slot="items" slot-scope="props">
                        <td>{{ props.item.HoraIni }}</td>
                        <td>
                            <v-btn icon class="mx-0" @click="delItem(props.item)">
                                <v-icon>check_circle</v-icon>
                            </v-btn>
                        </td>
                    </template>
                </v-data-table>                             
            </v-container>
        </v-app>
    </div>
    <script src='https://unpkg.com/babel-polyfill/dist/polyfill.min.js'></script>
    <script src='https://unpkg.com/vue/dist/vue.js'></script>
    <script src='https://unpkg.com/vuetify@1.0.19/dist/vuetify.min.js'></script>
    <script src='https://unpkg.com/vue-resource@1.5.1/dist/vue-resource.min.js'></script>
    <script src='js/cirurgia.js'></script>
</body>

</html>